
<div class="twelve">
    <fieldset ng-if="releveNote.idPeriode !== null">
        <legend><i18n>competences.acquired</i18n></legend>
        <div class="acquis_scolaire" ng-include="'/competences/public/template/enseignants/releve_notes/details_eleve_acquis_scolaire_part.html'"></div>
    </fieldset>
    <fieldset>
        <legend><i18n>evaluations.suivi.eleve.title</i18n></legend>
        <div ng-include="'/competences/public/template/enseignants/releve_notes/details_eleve_suivi_part.html'"></div>
    </fieldset>
    <fieldset>
        <legend><i18n>history</i18n></legend>
        <div ng-include="'/competences/public/template/enseignants/releve_notes/details_eleve_historique_part.html'"></div>
    </fieldset>
</div>