<div class="twelve-mobile twelve ">

    <div class="twelve">
        <h2 class="align-center">
            <i class="previous cell" ng-click="incrementReleveEleve(-1, true)" ng-if="isNotFirstEleve()"></i>
            [[informations.eleve.lastName]] [[informations.eleve.firstName]]
            <i class="next right-magnet" ng-click="incrementReleveEleve(1,true)" ng-if="isNotLastEleve()"></i>
        </h2>
    </div>
    <div class="twelve">
            <div ng-include="'/competences/public/template/enseignants/suivi_competences_eleve/content_vue_suivi_eleve.html'"></div>
    </div>
</div>
