<div class="responsive-table">

    <table>
        <thead>
        <tr>
            <th class="titleCenter"><i18n>viescolaire.utils.periode</i18n></th>
            <th class="titleCenter"><i18n>average.min</i18n>&nbsp;<i18n>student</i18n></th>
            <th class="titleCenter"><i18n>average.min</i18n>&nbsp;<i18n>viescolaire.utils.classe</i18n></th>
            <th class="titleCenter"><i18n>evaluations.releve.positionnement.min</i18n></th>
            <th class="titleCenter"><i18n>viescolaire.utils.appreciation</i18n></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="historique in informations.eleve.historiques">
            <td class="differentSizeTD" data-label="[[translate('viescolaire.utils.periode')]]"> [[historique.periode]] </td>
            <td class="newsizeTD" ng-class="{changedAverage: historique.moyenneFinale !== ''}"
                data-label="[[translate('student')]]" >
                [[(historique.moyenneFinale !== "")? historique.moyenneFinale : historique.moyenne]]
            </td>
            <td class="newsizeTD" data-label="[[translate('viescolaire.utils.classe')]]" >[[historique.moyenneClasse]] </td>
            <td class="newsizeTD" data-label="[[translate('evaluations.releve.positionnement')]]"
                ng-class="{changedAverage: historique.positionnementFinal !== ''}">
                [[(historique.positionnementFinal !== "")? historique.positionnementFinal : historique.positionnement]]
            </td>
            <td class="newsizeTD aligndiff" data-label="[[translate('viescolaire.utils.appreciation')]]" > [[historique.appreciation]] </td>
        </tr>
        </tbody>
    </table>

</div>
