<div ng-show="selected.suiviAcquis">
    <section ng-if="elementBilanPeriodique.suivisAcquis.all.length === 0">
        <content>
            <article class="card twelve-mobile centered">
                <i18n>no.bilan.periodique</i18n>
            </article>
        </content>
    </section>
    <article ng-if="elementBilanPeriodique.suivisAcquis.hasCoefficientConflict === true" class="twelve ">
        <div class=" warning">
            <i18n>evaluations.coefficient.conflict.warning</i18n>
        </div>
        <div class="row">
            <button class="right-magnet" ng-click="opened.coefficientConflict = true;">
                <i18n>show.details</i18n>
            </button>
        </div>
    </article>
    <article class="twelve cell" ng-if="elementBilanPeriodique.suivisAcquis.all.length !== 0">
        <div class="columns-popup-wrapper right-magnet">
            <div ng-click="showPopUpColumns = !showPopUpColumns" class="right-magnet columns-popup-button"
                  tooltip="[['conseil.acquis.moyenne.showColumns']]">
                <span ng-show="showPopUpColumns === true">&#x25B2;</span>
                <span ng-hide="showPopUpColumns === true">&#x25BC;</span>
            </div>
            <div ng-class="{'open' : showPopUpColumns === true}" class="right-magnet columns-popup">
                <label class="columns-popup-items">
                    <input type="checkbox" ng-model="showColumns.moyEleve" ng-change="saveColumnsPreferences()">
                    <span><i18n>average.min.eleve</i18n></span>
                </label>
                <label class="columns-popup-items">
                    <input type="checkbox" ng-model="showColumns.moyClasse" ng-change="saveColumnsPreferences()">
                    <span><i18n>average.min.classe</i18n></span>
                </label>
                <label class="columns-popup-items">
                    <input type="checkbox" ng-model="showColumns.pos" ng-change="saveColumnsPreferences()">
                    <span><i18n>evaluations.releve.positionnement</i18n></span>
                </label>
            </div>
        </div>
        <div class="responsive-table width-td-10 margin-zero">
            <table class="twelve suiviDesAcquis">
                <thead>
                <tr>
                    <th class="one" colspan="2"><i18n>matieres</i18n></th>
                    <th ng-class="showColumns.moyEleve !== true && showColumns.moyClasse !== true && showColumns.pos !== true ? 'three' : 'four'">
                        <i18n>bilan.perodique.elements.programme.travailles</i18n>
                    </th>
                    <th class="seven"><i18n>appreciation</i18n></th>
                    <th class="one center" ng-if="showColumns.moyEleve"><i18n>average.min.eleve</i18n></th>
                    <th class="one center" ng-if="showColumns.moyClasse"><i18n>average.min.classe</i18n></th>
                    <th class="one center" ng-if="showColumns.pos"><i18n>evaluations.releve.positionnement</i18n></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="suiviDesAcquis in elementBilanPeriodique.suivisAcquis.all">
                    <td colspan="2" ng-if="suiviDesAcquis.sousMatieres === undefined || suiviDesAcquis.sousMatieres.length == 0 ">
                        <span class="matiere">[[suiviDesAcquis.libelleMatiere]]</span>
                        <ul>
                            <li ng-repeat="teacher in suiviDesAcquis.teachers">[[teacher.firstName[0] + '.' + teacher.name]]</li>
                        </ul>
                    </td>
                    <td ng-if="suiviDesAcquis.sousMatieres.length > 0 ">
                        <span class="matiere">[[suiviDesAcquis.libelleMatiere]]</span>
                        <ul>
                            <li ng-repeat="teacher in suiviDesAcquis.teachers">[[teacher.firstName[0] + '.' + teacher.name]]</li>
                        </ul>
                    </td>
                    <td ng-if="suiviDesAcquis.sousMatieres.length > 0 " style="padding-left: 0px; padding-right: 0px"
                        class="one center">
                        <div style="padding: 6px"
                             class="ellipsis"
                             ng-repeat="sousMat in suiviDesAcquis.sousMatieres">[[sousMat.libelle]]
                        </div>
                        <div style="padding: 6px" class="bold ng-binding">
                            &nbsp;
                        </div>
                    </td>
                    <td data-label="[[translate('bilan.perodique.elements.programme.travailles')]]">
                        <ng-form name="elementsProgrammeMatiereForm">
                                <textarea ng-show="canSaveAppMatierePosiBilanPeriodique"
                                          name="elementProgramme"
                                          type ="text"
                                          ng-maxlength="MAX_CHAR_APPRECIATION_LENGTH"
                                          maxlength="MAX_CHAR_APPRECIATION_LENGTH"
                                          ng-model="suiviDesAcquis.elementsProgramme"
                                          ng-blur="suiviDesAcquis.saveElementsProgrammeMatierePeriodeEleve()">
                                </textarea>
                            <div class ="twelve element" ng-show="!canSaveAppMatierePosiBilanPeriodique"
                                 ng-bind="suiviDesAcquis.elementsProgramme">
                            </div>
                            <div ng-if="elementsProgrammeMatiereForm.elementProgramme.$error.maxlength" class="warning">
                                <i18n>evaluations.releve.elementProgramme.classe.max.length</i18n>
                            </div>
                        </ng-form>
                    </td>
                    <td data-label="[[translate('appreciation')]]">
                        <ng-form name="appreciationMatiereForm">
                                <textarea ng-show="canSaveAppMatierePosiBilanPeriodique "
                                          name="appreciation"
                                          type ="text"
                                          ng-maxlength="MAX_CHAR_APPRECIATION_LENGTH"
                                          maxlength="MAX_CHAR_APPRECIATION_LENGTH"
                                          ng-model="suiviDesAcquis.appreciationByClasse.appreciation"
                                          ng-blur="suiviDesAcquis.saveAppreciationMatierePeriodeEleve()"
                                          ng-focus="suiviDesAcquis.setPreviousAppreciationMatiere()"
                                >
                                </textarea>
                            <div class ="twelve element" ng-show="!canSaveAppMatierePosiBilanPeriodique"
                                 ng-bind="suiviDesAcquis.appreciationByClasse.appreciation">
                            </div>
                            <div ng-if="appreciationMatiereForm.appreciation.$error.maxlength" class="warning">
                                <i18n>evaluations.releve.appreciation.classe.max.length</i18n>
                            </div>
                        </ng-form>
                    </td>
                    <td class="center" data-label="[[translate('average.student')]]" ng-if="showColumns.moyEleve">
                        <div style="padding: 6px"
                             ng-repeat="sousMat in suiviDesAcquis.sousMatieres">
                            [[  sousMat.moy ]]
                        </div>
                        <div style="padding: 6px" class="bold">
                            [[suiviDesAcquis.moyenneEleve]]
                        </div>
                    </td>
                    <td class="center" data-label="[[translate('average.class')]]" ng-if="showColumns.moyClasse">
                        <div style="padding: 6px"
                             ng-repeat="sousMat in suiviDesAcquis.sousMatieres">
                            [[  sousMat.moyClasse ]]
                        </div>
                        <div style="padding: 6px" class="bold">
                            [[suiviDesAcquis.moyenneClasse]]
                        </div>
                    </td>
                    <td class="center" data-label="[[translate('evaluations.releve.positionnement')]]" ng-if="showColumns.pos">
                        <div ng-repeat="sousMat in suiviDesAcquis.sousMatieres">
                            <ul class="selectable-list twelve">
                                <li class="cell"
                                    ng-if="$index === 0"
                                    style="margin: 0; border: 1px solid #2a9cc8;padding-left: 2px;padding-right: 2px;font-size: x-small;"
                                    ng-class="{ positionnementcalculee: ($index === sousMat.posi) }"
                                    ng-repeat-start="niveau in elementBilanPeriodique.structure.cycle.niveauCompetencesArray">
                                    <label ng-if="$index !== 0" ng-bind-html="$index"></label>
                                    <label  ng-bind-html="'NN'"></label>
                                </li>
                                <li class="cell"
                                    ng-if="$index !== 0"
                                    style="margin: 0;  border: 1px solid #2a9cc8;"
                                    ng-class="{ positionnementcalculee: ($index === sousMat.posi) }"
                                    ng-repeat-end="niveau in elementBilanPeriodique.structure.cycle.niveauCompetencesArray">
                                    <label ng-bind-html="$index"></label>
                                </li>
                                <li class="cell"
                                    style="margin: 0; border: 1px solid #2a9cc8;"
                                    ng-class="{ positionnementcalculee: elementBilanPeriodique.structure.cycle.niveauCompetencesArray.length === sousMat.posi}"
                                >
                                    <label ng-bind-html="elementBilanPeriodique.structure.cycle.niveauCompetencesArray.length"></label>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="selectable-list twelve"
                                ng-init="suiviDesAcquis.initPositionnement()"
                                ng-if="canSaveAppMatierePosiBilanPeriodique" >

                                <li class="cell"
                                    ng-if="$index === 0"
                                    style="margin: 0;padding-left: 2px;padding-right: 2px;font-size: x-small;"
                                    ng-class="{ selected:  $index === suiviDesAcquis.positionnement_final}"
                                    data-ng-click="savePositionnementEleve(suiviDesAcquis, $index);"
                                    ng-repeat-start="niveau in elementBilanPeriodique.structure.cycle.niveauCompetencesArray">
                                    <label   ng-bind-html="'NN'"></label>
                                </li>
                                <li class="cell"
                                    ng-if="$index !== 0"
                                    style="margin: 0;"
                                    ng-class="{ selected:  $index === suiviDesAcquis.positionnement_final}"
                                    data-ng-click="savePositionnementEleve(suiviDesAcquis, $index);"
                                    ng-repeat-end="niveau in elementBilanPeriodique.structure.cycle.niveauCompetencesArray">
                                    <label ng-bind-html="$index"></label>
                                </li>
                                <li class="cell"
                                    style="margin: 0"
                                    ng-class="{ selected: elementBilanPeriodique.structure.cycle.niveauCompetencesArray.length === suiviDesAcquis.positionnement_final}"
                                    data-ng-click="savePositionnementEleve(suiviDesAcquis, structure.cycle.niveauCompetencesArray.length);"
                                >
                                    <label ng-bind-html="elementBilanPeriodique.structure.cycle.niveauCompetencesArray.length"></label>
                                </li>

                            </ul>
                            <ul class="selectable-list twelve" ng-if="!canSaveAppMatierePosiBilanPeriodique" >
                                <li class="cell"
                                    ng-if="$index === 0"
                                    style="margin: 0;padding-left: 2px;padding-right: 2px;font-size: x-small;"
                                    ng-class="{ positionnementcalculee: $index === suiviDesAcquis.getPositionnementDefinitif()}"
                                    ng-repeat-start="niveau in elementBilanPeriodique.structure.cycle.niveauCompetencesArray">
                                    <label ng-if="$index !== 0" ng-bind-html="$index"></label>
                                    <label ng-if="$index === 0"  ng-bind-html="'NN'"></label>
                                </li>
                                <li class="cell"
                                    style="margin: 0;"
                                    ng-if="$index !== 0"
                                    ng-class="{ positionnementcalculee: $index === suiviDesAcquis.getPositionnementDefinitif()}"
                                    ng-repeat-end="niveau in elementBilanPeriodique.structure.cycle.niveauCompetencesArray">
                                    <label  ng-bind-html="$index"></label>
                                </li>
                                <li class="cell"
                                    style="margin: 0"
                                    ng-class="{ positionnementcalculee: elementBilanPeriodique.structure.cycle.niveauCompetencesArray.length === suiviDesAcquis.getPositionnementDefinitif()}"
                                >
                                    <label ng-bind-html="elementBilanPeriodique.structure.cycle.niveauCompetencesArray.length"></label>
                                </li>
                            </ul>
                        </div>

                    </td>
                </tr>

                </tbody>
                <tfoot ng-if="showMoyGeneral">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="center" data-label="[[translate('bilan.periodique.moyenne.generale.eleve')]]">[[elementBilanPeriodique.suivisAcquis.getHistoriqueByPeriode(search.periode.id_type).moyGeneraleEleve]]</td>
                    <td class="center" data-label="[[translate('bilan.periodique.moyenne.generale.classe')]]">[[elementBilanPeriodique.suivisAcquis.getHistoriqueByPeriode(search.periode.id_type).moyGeneraleClasse]]</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>

    <section>
        <container template="synthese"></container>
    </section>
</div>

<div ng-include="'/competences/public/template/enseignants/bilan_periodique/Ligthbox_conflict_coefficient.html'"></div>