
<div class="custom-mobile-releve"
     ng-include="'/competences/public/template/parent_enfant/accueil/eval_parent_menu.html'">
</div>
<div class="custom-mobile-releve"
     ng-include="'/competences/public/template/parent_enfant/accueil/eval_parent_selectEnfants.html'">
</div>
<section>
    <label class="select" >
        <select ng-model="search.periode"
                ng-change="displayBilanPeriodique(); changeContent();"
                ng-options="getI18nPeriode(periode) for periode in eleve.classe.periodes.all | filter: fiterTrimestres()">
            <option class="header-opt" disabled value="">[[translate('viescolaire.utils.periode')]]</option>
        </select>
    </label>
</section>