<i class="input-list up-open" ng-if="openedList" ng-click="changeOpenedList()" />
<i class="input-list down-open" ng-if="!openedList" ng-click="changeOpenedList()"
   tooltip="add.annotation"/>
<input
        type="text"
        class="input-list nine"
        ng-blur="validationItemFunction();"
        ng-change="searchItems()"
        ng-focus="focusMe($event);"
        ng-class="{error : error == true}"
        ng-model="model[modelAttribute]"
        ng-disabled="disabledInput"
        ng-if="autofocus" autofocus/>

<input
        type="text"
        class="input-list nine"
        ng-blur="validationItemFunction();"
        ng-change="searchItems()"
        ng-focus="focusMe($event);"
        ng-class="{error : error == true}"
        ng-model="model[modelAttribute]"
        ng-disabled="disabledInput"
        ng-if="!autofocus" />

<ul ng-if="openedList" class="input-list">
    <li class="input-list" tooltip="[[(item[displayAttributeList])]]" ng-repeat="item in itemsToDisplay"
        ng-click="addItem(item);">[[(item[displayAttributeList])]]</li>
</ul>