<nav class="two cell vertical menu-accueil mobile-navigation zero-mobile">
    <ul>
        <li ><a href="#/devoirs/list"><i18n>evaluations.test.list</i18n></a></li>
        <li ><a href="#/releve"><i18n>evaluations.releve.title</i18n></a></li>
        <li ><a href="#/competences/eleve"><i18n>evaluations.suivi.eleve.title</i18n></a></li>
        <li ><a href="#/competences/classe"><i18n>evaluations.suivi.classe.title</i18n></a></li>
        <li workflow="competences.accessProjets"><a href="#/projets"><i18n>evaluations.saisie.projets.title</i18n></a></li>
        <li ><a href="#/conseil/de/classe"><i18n>evaluations.conseil.de.classe</i18n></a></li>
        <li ng-if="canExport()"><a href="#/export"><i18n>evaluations.exports</i18n></a></li>
        <li workflow="competences.exportBulletins"><a href="#/bulletin"><i18n>evaluations.bulletin</i18n></a></li>
    </ul>
</nav>