<div ng-if="informations.eleve.configMixedChartDomaine !== undefined && graph.typeDom == 'baton'"
     class="twelve">
    <div class=" twelve cell twelve-mobile">
        <div class="chart-container" style="position: relative; height:auto; width:auto; margin: auto;" >
            <canvas id="mixedCharttrue"
                    class="chart chart-bar" width="400" height="400"
                    chart-labels="informations.eleve.configMixedChartDomaine.labels"
                    chart-options="informations.eleve.configMixedChartDomaine.options"
                    chart-data="informations.eleve.configMixedChartDomaine._datas"
                    chart-dataset-override="informations.eleve.configMixedChartDomaine.datasetsOveride"></canvas>
        </div>
    </div>
</div>


<div class="twelve" ng-if="graph.typeDom == 'radar'">
    <div class="three cell twelve-mobile"> 
        &ensp;
    </div>
    <div class=" six cell twelve-mobile">
        <div class="twelve-mobile">
            <canvas id="radar1" class="chart chart-radar align-center"
                    chart-data="informations.eleve.configRadarChartDomaine.datasets.data"
                    chart-labels="informations.eleve.configRadarChartDomaine.datasets.labels"
                    chart-series="informations.eleve.configRadarChartDomaine.series"
                    chart-options="informations.eleve.configRadarChartDomaine.options.level"
                    chart-colors="informations.eleve.configRadarChartDomaine.colors"
            >
            </canvas>
        </div>
    </div>
</div>
