.paramServices {


  .selectable-list {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .service-list-container{
    .serviceList {
      .flex-row{
        display: inline-flex!important;
        flex-wrap: wrap;
        flex-direction: row;
      }
      &.active{
        box-shadow: -0.2em 0 3px rgba(10,10,10,0.2), 0.2em 0 3px rgba(10,10,10,0.2);
      }
      padding-top: 0.6%;
      border-top: 0.5px solid darkgrey;
      & > * {
        vertical-align: middle;
        display: inline-block !important;
      }

      & > label:not(.select) {
        text-align: center
      }
      .cellTab-left:first-child{
        padding-left: 1em;
      }
    }
    .subList{
      background-color: #f7f6f6;
      div{
        .tabulation{
          padding-left: 3em;
        }
      }
    }
    .serviceList:nth-child(2){
      box-shadow: inset 0 0.2em 3px  rgba(10, 10, 10, .2);
    }
  }
  .cellTab{
    select{
      margin: 0;
    }
  }
  .select:not(button){
    margin:0 !important;
    select{
      min-width: 0 !important;
    }
  }

  i.eye-open-orange::before {
    content: '\e873';
    color: #FF8500;
  }

  .delete {
    @include fonticon;
    font-size: 15px;
    color: $red;
    font-weight: 300;
    opacity: 0.8;
    border: none;
    background-color: inherit;

    &::after {
      content: '\e866';
    }
  }
  input[type=number]{
    height: 2em;
    width: 80%;
    margin-bottom: 0.2em;
    padding-left: 5px;
  }
  .padding-top {
    padding-top: 5px;
  }
  .lightboxCreate, .lightboxUpdate {
    margin: 20px;
  }

  .lightboxCreate > .row:last-child > * {
    display: inline-block;
  }

  .lightboxUpdate > .row > * {
    display: inline-block;
    vertical-align: middle;
  }
  .labels-in-line {
    display: inline-flex;

    div {
      margin-left: 2px;
      display: inline-table;
      margin-right: 2px;
    }
  }
  .filterButton {

    & > * {
      margin: 0 10px 15px;
    }

    & > input {
      font-size: 1em;
      font-style: italic;
    }
  }
  .filter-down{
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #222222;
      position: absolute;
      margin-left: 0.5em;
      top: 50%;
      margin-top: -4px;
    }
  }
  .filter-up{
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 6px solid #222222;
      position: absolute;
      margin-left: 0.5em;
      top: 50%;
      margin-top: -4px;
    }
  }
  .svg-image{
    display: flex;
    align-items:center;

    input,i {
      padding-top: 5px;
      margin-left: 1em;
    }
    .image-center{
      margin-left: 40%;
    }
  }


  .loaderCenter{
    margin: 0 45%;
  }
  .loaderArray {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  .filterButton{
    border-radius: 30em;
    background-color: white;
    color: #FF8500;
    border:solid 1px #FF8500;
    margin: 0.5em;
    padding: 5px 15px;
  }

  .selected{
    background-color: #FF8500;
    color: white;
  }

  .tab-header{
    position: -webkit-sticky;
    position: sticky;
    background: white;
    left: 355.5px;
    top: 64px;
    margin-top: 0;
    height: 50px;
    z-index: 2;
  }

  .filterArea{
    input{
      border: none; /* <-- Mandatory  */
      border:solid 1px #ccc;
      border-radius: 10px;
      margin-right: 10em ;
    }
    select{
      border-radius: 5px;
    }
  }

  .trash {
    padding: 10px;
  }
  .service-tab-header-center{
    padding-left: 0.6%;
    text-align: center;
  }
  .service-tab-header-left{
    padding-left: 0.6%;
    text-align: left;
  }
  .fit-font-size {
    font-size : 1vw;
  }
  .inline-block{
    display: inline-block;
  }
  .cellTab-center{
    text-align: center;
  }
  .lightboxCreate {
    ul {
      padding-left: 1.33em;
      margin-top: 0.4em;

      li {
        font-size: 1.2em;
        list-style-type: none;
        padding-top: 10px;
      }
    }

    .buttonAbsolute {
      bottom: 0;
      position: absolute;
      right: 0;

    }

    .fullBorder {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important;
    }

    .buttonMargin {
      margin-top: 10px
    }
  }

  .disabled-eye {
    opacity: 50%;
    cursor: default;
  }

}