<div ng-include="'/competences/public/template/setting.html'"></div>
<div class="twelve cell" ng-controller="EvaluationsBulletinsController" >


    <!-- LightBox display modlel -->
    <div ng-include="'/competences/public/template/enseignants/bulletin/lightBox_model_subject.html'"></div>

    <div ng-include="'/competences/public/template/enseignants/menu_teacher.html'"></div>
    <div    ng-init="initBulletin()"
            class="ten cell card main-content twelve-mobile">
        <aside class="two cell twelve-mobile left">
            <div class="criterion">
                <div class="header" ng-click="openLeftMenu('opened.criteres', opened.criteres);">
                    <h2>
                        <i18n>viescolaire.utils.criterion</i18n>
                    </h2>
                </div>
                <section ng-if="evaluations.structures.all.length > 1">
                    <label class="select">
                        <select ng-model="evaluations.structure"
                                ng-options="structure.libelle for structure in evaluations.structures.all track by structure.id"
                                ng-change="changeEtablissement(); initBulletin();"></select>
                    </label>
                </section>
                <div class="lsu">
                    <div ng-init="showClasses = false"
                         class="filtre filtre-classe" ng-class="{opened : showClasses}">
                        <h4  ng-click="showClasses=!showClasses"><i18n>viescolaire.utils.class</i18n>
                            <span class="plus-input"></span>
                        </h4>
                        <label class="chip multiselect right-magnet margin-left">
                            <span><i18n>viescolaire.utils.all.none</i18n></span>
                            <input type="checkbox" ng-model="bSelectAllClasses"
                                   ng-change="switchAll(classes.all, bSelectAllClasses, true)"
                                   ng-class="{selected:bSelectAllClasses}">
                        </label>
                        <ul class="selectable-list">
                            <li ng-repeat="classe in printClasses.all| orderBy:['type_groupe_libelle','name']"
                                ng-init="classe.selected = false;"
                                ng-click="chooseClasse(classe);"
                                ng-class="{selected : classe.selected}">[[(classe.name)]]</li>
                        </ul>
                    </div>
                </div>
                <section>
                    <label class="select">
                        <select ng-model="selected.periode"
                                ng-options="getI18nPeriode(periode.periode) for periode in filteredPeriodes | orderBy:'id_type'">
                            <option disabled value="" class="header-opt">[[translate('viescolaire.utils.periode')]]
                            </option>
                        </select>
                    </label>
                </section>
                <div class="lsu">
                    <div ng-init="showEleves = false"
                         class="filtre filtre-classe" ng-class="{opened : showEleves}">
                        <h4  ng-click="showEleves=!showEleves"><i18n>viescolaire.utils.student</i18n>
                            <span class="plus-input"></span>
                        </h4>
                        <label class="chip multiselect right-magnet margin-left">
                            <span><i18n>viescolaire.utils.all.none</i18n></span>
                            <input type="checkbox" ng-model="bSelectAllStudents"
                                   ng-change="switchAll(allElevesClasses, bSelectAllStudents)"
                                   ng-class="{selected:bSelectAllStudents}">
                        </label>
                        <ul class="selectable-list">
                            <li ng-repeat="eleve in allElevesClasses track by $index"
                                ng-click="chooseStudent(eleve)"
                                ng-class="{selected : eleve.selected}">[[(eleve.lastName + ' ' + eleve.firstName + ' (' + eleve.classeName + ')' )]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="ten twelve-mobile cell right">

            <content>
                <div>
                    <div class="header" ng-click="openLeftMenu('opened.criteres', opened.criteres);">
                        <h2>
                            <i18n>viescolaire.utils.options</i18n>
                        </h2>
                    </div>
                    <!-- Page 1 -->
                    <fieldset class="eleven">
                        <legend><i18n>evaluations.page.one</i18n></legend>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.getResponsable"/><span>
                            <i18n>show.responsables</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.getProgramElements"/><span>
                            <i18n>show.programElements</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.useModel"/><span>
                            <i18n>evaluations.use.model.libelle</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.moyenneEleve"/><span>
                            <i18n>average.student</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.moyenneClasse"/><span>
                            <i18n>average.class</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.positionnement"/><span>
                            <i18n>evaluations.releve.positionnement</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.moyenneEleveSousMat"/><span>
                            <i18n>evaluations.moyenne.sous.matiere.eleve</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.moyenneClasseSousMat"/><span>
                            <i18n>evaluations.moyenne.sous.matiere.classe</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.positionnementSousMat"/><span>
                            <i18n>evaluations.positionnement.sous.matiere</i18n>
                        </span></label>
                        </div>
                    </fieldset>

                    <!-- Page 2 -->
                    <fieldset class="eleven">
                        <legend><i18n>evaluations.page.two</i18n></legend>
                        <div class="twelve twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.showFamily"/><span>
                            <i18n>show.family</i18n>
                        </span></label>
                        </div>
                        <div class="four cell twelve-mobile" >
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.showProjects"/><span>
                            <i18n>show.projects</i18n>
                        </span></label>
                        </div>
                        <!-- Bilan par domaine -->
                        <div class="three cell twelve-mobile" >
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.showBilanPerDomaines"/><span>
                            <i18n>show.bilan.per.domaines</i18n>
                        </span></label>
                        </div>
                        <div ng-if="print.showBilanPerDomaines" class="five cell twelve-mobile">
                            <div class="six cell">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="print.withLevelsStudent"/><span>
                                <i18n>show.with.level.student</i18n>
                            </span></label>
                            </div>
                            <div class="six cell">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="print.withLevelsClass"/><span>
                                <i18n>show.with.level.class</i18n>
                            </span></label>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Page 3
                    <div class="twelve twelve-mobile">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="print.threePage"/><span>
                            </span></label>
                    </div>
                    <fieldset class="eleven">
                        <legend><i18n>evaluations.page.three.optionnal</i18n></legend>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.threeMoyenneEleve"/><span>
                                <i18n>average.student</i18n>
                            </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.threeMoyenneClasse"/><span>
                                <i18n>average.class</i18n>
                            </span></label>
                        </div>
                        <div class="four cell twelve-mobile">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="print.threeLevel"/><span>
                                <i18n>evaluation.suivi.niveau</i18n>
                            </span></label>
                        </div>
                    </fieldset>
                    -->
                </div>
                <div >
                    <div class="header" ng-click="openLeftMenu('opened.criteres', opened.criteres);">
                        <h2>
                            <i18n>viescolaire.utils.parameter</i18n>
                        </h2>
                    </div>

                    <fieldset class="eleven">

                        <div class="twelve cell select-file nomargin">
                            <div class="twelve cell">
                                <div class="four cell">
                            <span tooltip="[[lang.translate('evaluations.export.bulletin.legendMaxHeightStructure')]]<br>[[lang.translate('evaluations.export.bulletin.legendMaxWidthStructure')]]">
                             <i18n>evaluations.add.file.structure</i18n>
                             </span>
                                </div>
                                <div class="two cell">
                                    <image-select style="max-width: 40px;" ng-model="print.imgStructure"
                                                  ng-change="setImageStructure()"
                                                  visibility="'public'"
                                                  default="/img/illustrations/image-default.svg">
                                    </image-select>
                                </div>
                            </div>
                        </div>
                        <div class="twelve cell twelve-mobile">
                            <div class="four cell">
                            <span>
                            <i18n>evaluations.export.bulletin.nameCE</i18n>
                             </span>
                            </div>
                            <div class="eight cell">
                                <label class="checkbox">
                                    <input type="text" class="ten" ng-blur="setInformationsCE()"
                                           ng-model="print.nameCE"/>
                                </label>
                            </div>
                        </div>

                        <div class="twelve cell select-file nomargin" >
                            <div class="twelve cell">
                                <div class="four cell">
                            <span tooltip="[[lang.translate('evaluations.export.bulletin.legendMaxHeightSignature')]]<br>[[lang.translate('evaluations.export.bulletin.legendMaxWidthSignature')]]">
                             <i18n>evaluations.add.file.signature</i18n>
                             </span>
                                    <div>
                                        <em class="metadata"><i18n>evaluations.export.bulletin.legendSignature</i18n></em>
                                    </div>
                                </div>

                                <div class="two cell">
                                    <image-select style="max-width: 40px;" ng-model="print.imgSignature"
                                                  ng-change="setInformationsCE()"
                                                  visibility="'public'"
                                                  default="/img/illustrations/image-default.svg">
                                    </image-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div  ng-show="print.useModel === true">
                    <div class="header" ng-click="openLeftMenu('opened.criteres', opened.criteres);">
                        <h2>
                            <i18n>viescolaire.utils.models</i18n>
                        </h2>
                    </div>

                    <fieldset class="eleven">
                        <ul class="twelve selectable-list">
                            <li ng-repeat="model in (filteredModels = (models.all | filter:filterSearch(search) | orderBy:'title'))"
                                    style="margin-bottom: 0px;"  ng-class="{selected: print.idModel === model.id}">
                                <span
                                        ng-click="model.show = !model.show"><i18n >evaluations.model</i18n>
                                    &nbsp;:&nbsp;[[model.title]]
                                </span>
                                <dots-menu style="text-align: left;" class="right">
                                    <opt  data-ng-click="print.idModel = model.id">
                                        <i class="check">
                                        </i>
                                        &nbsp;<i18n>evaluations.choose.model</i18n>
                                    </opt>
                                    <opt  data-ng-click="openModel(model)">
                                        <i class="up-open">
                                        </i>
                                        &nbsp;<i18n>evaluations.open.model</i18n>
                                    </opt>
                                </dots-menu>
                            </li>
                        </ul>
                    </fieldset>
                </div>

                <div class="twelve">
                    <button class ="right right-magnet" style="margin-top: 10px; margin-right : 6%"
                            ng-click="generateBulletin(print);">
                        <i18n>evaluation.lsu.export.button</i18n>
                    </button>
                </div>
            </content>

        </aside>

    </div>

    </aside>

</div>
<div class="zero" id="list-to-pdf"></div>
<div class="zero" id="canvas-to-pdf"></div>
<div class="zero" id="graph">
    <div class="twelve">
        <div class=" twelve cell twelve-mobile">
            <div class="chart-container" style="position: relative; width:auto; margin: auto; height: auto" >
            </div>
        </div>
    </div>
</div>
<div class="stopwatch zero"></div>
<ul class="results zero"></ul>
</div>

