<section class="note-table" ng-if="isDataOnPage">
    <div class="warning-container" ng-show="search.classe.id_cycle === 1">
        <i class="warning warning-average"></i>
        <div>
            <div><i18n>evaluations.warning.average.first</i18n></div>
            <div><i18n>evaluations.warning.average.second</i18n></div>
        </div>
    </div>
    <table class="twelve">
        <thead>
        <tr>
            <th class="light-font-header" ng-repeat="rowData in averagesClasses.headerTable">
                <div>[[rowData.subjectName]]</div>
                <div>[[rowData.teacherName]]</div>
                <div ng-repeat="coTeacher in rowData.coTeachers">[[coTeacher]]</div>
                <div ng-repeat="substituteTeacher in rowData.substituteTeachers">[[substituteTeacher]]</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notesStudents in averagesClasses.bodyTable">
            <td ng-repeat="noteStudent in notesStudents track by $index">
                [[noteStudent]]
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-repeat="notesAverages in averagesClasses.footerTable">
            <td ng-repeat="noteAverage in notesAverages track by $index">
                [[noteAverage]]
            </td>
        </tr>
        </tfoot>
    </table>
</section>
<p ng-if="!isDataOnPage">
    <i18n>competance.class.info.empty</i18n>
</p>