<div class="twelve">
    <h3>
        <i18n>evaluations.bilan.periodique</i18n>
    </h3>

    <div class="twelve tabs vertical-spacing-twice heading-tabs">
        <header ng-class="{selected : selected.EPI}"
                class="horizontal-spacing-twice ng-scope">
            <div class="horizontal-spacing" ng-click="selected.EPI = true; selected.AP = false; selected.parcours = false">
                <span><i18n><span class="no-style ng-scope">evaluations.enseignements.pratiques.interdisciplinaires</span></i18n></span>
            </div>
        </header>
        <header ng-class="{selected : selected.AP}"
                class="horizontal-spacing-twice ng-scope">
            <div class="horizontal-spacing" ng-click="selected.AP = true;  selected.EPI = false; selected.parcours = false">
                <span><i18n><span class="no-style ng-scope">evaluations.accompagnement.personnalise</span></i18n></span>
            </div>
        </header>
        <header ng-class="{selected : selected.parcours}"
                class="horizontal-spacing-twice ng-scope">
            <div class="horizontal-spacing" ng-click="selected.parcours = true;  selected.EPI = false; selected.AP = false">
                <span><i18n><span class="no-style ng-scope">evaluations.parcours.educatifs</span></i18n></span>
            </div>
        </header>
    </div>
</div>


<article ng-show="selected.EPI" class="twelve cell">
    <h2 class="two cell">
        <i18n>evaluations.recherche.EPI</i18n>
    </h2>
    <input class="five cell"
           type="text"
           ng-model="search.name"
           placeholder="Saisir un EPI">

    <button class="right-magnet" ng-click="openCreatePE()">
        <i18n>evaluations.add.EPI</i18n>
    </button>
</article>

<article ng-show="selected.AP" class="twelve cell">
    <h2 class="two cell">
        <i18n>evaluations.recherche.AP</i18n>
    </h2>
    <input class="five cell"
           type="text"
           ng-model="search.name"
           placeholder="Saisir un AP">

    <button class="right-magnet" ng-click="openCreatePE()">
        <i18n>evaluations.add.AP</i18n>
    </button>
</article>

<article ng-show="selected.parcours" class="twelve cell">
    <h2 class="two cell">
        <i18n>evaluations.recherche.parcours</i18n>
    </h2>
    <input class="five cell"
           type="text"
           ng-model="search.name"
           placeholder="Saisir un parcours">

    <button class="right-magnet" ng-click="openCreatePE()">
        <i18n>evaluations.add.parcours</i18n>
    </button>
</article>

<lightbox show="opened.lightboxCreatePE" on-close="!opened.lightboxCreatePE">
    <container template="lightboxCreatePE"></container>
</lightbox>

<div class="card board-bilan twelve row">
    <div class="expandable-list-header twelve"
        ng-if="elements !== null">
        <div class="cell">
            <label class="checkbox">
                <input type="checkbox"
                ng-change=""
                ng-model="element.selected">
                <span></span>
            </label>
        </div>
        <div class="cell" ng-show="!selected.AP">
            <i18n>viescolaire.competences.theme</i18n>
        </div>
        <div class="cell" ng-show="!selected.parcours">
            <i18n>viescolaire.competences.libelle</i18n>
        </div>
        <div class="cell" ng-show="!selected.parcours">
            <i18n>viescolaire.competences.intervenant</i18n>
        </div>
        <div class="cell">
            <i18n>viescolaire.competences.classe.groupe</i18n>
        </div>
    </div>
    <div class="twelve expandable-list-body">
        <div class="row expandable-list-item"
             ng-repeat="element in elements">
            <div class="row expandable-list-item-main"
            ng-click="selectUnselectElement(element)">
                <div class="cell">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-model="element.selected">
                        <span></span>
                    </label>
                </div>
                <div class="cell">
                    <div class="cell" ng-show="!selected.AP">
                        <span>[[ element.theme.libelle ]]</span>
                    </div>
                </div>

                <div class="cell" ng-show="!selected.parcours">
                    <div class="cell" ng-show="!selected.AP">
                        <span>[[ element.libelle ]]</span>
                    </div>
                </div>
                <div class="cell" ng-show="!selected.parcours">
                    <span ng-repeat="intervenantMatiere in element.intervenantsMatieres">
                        [[ intervenantMatiere.intervenant.name ]] - </span>
                </div>
                <div class="cell">
                    <span ng-repeat="groupe in element.groupes">
                        [[ groupe.name ]] - </span>
                </div>
            </div>
        </div>
    </div>

    <section class="toggle-buttons"
             ng-show="selectedElements.length > 0">
        <div class="toggle">
            <div class="row">
                <button class="cell"
                        ng-if="selectedElements.length === 1"
                        ng-click="updateElement(selectedElements)">
                    <span><i18n>item.modify</i18n></span>
                </button>
                <button class="cell"
                        ng-click="tryDeleteElements(selectedElements)">
                    <span><i18n>item.delete</i18n></span>
                </button>
            </div>
        </div>
    </section>

    <lightbox show="opened.lightboxConfirmDeleteElements" on-close="!opened.lightboxConfirmDeleteElements">
        <h3><i18n>evaluations.bilan.periodique</i18n></h3>
        <p><i18n>evaluation.link.message</i18n></p>
        <p><i18n>evaluations.devoir.confirmation.question</i18n></p>
        <button class="marginFive magnet-right"
                ng-click="deleteElements(selectedElements);">
            <i18n>evaluations.perso.ok</i18n>
        </button>
        <button data-ng-click="opened.lightboxConfirmDeleteElements=false;"
                class="right-magnet cancel">
            <span><i18n>evaluations.perso.cancel</i18n></span>
        </button>
    </lightbox>
</div>
