<div class="header">
    <h2>
        Ajouter un EPI
    </h2>
</div>

<div>

    <div>
        <label>Description</label>
        <textarea name="saisie description">
        </textarea>

        <section>
            <label class="select">
                <select></select>
            </label>

            <h3 data-ng-click="openCreateTheme()"
                class="inline-block"><i class="plus"></i></h3>
        </section>

        <lightbox show="opened.lightboxCreateTheme" on-close="!opened.lightboxCreateTheme">
            <container template="lightboxCreateTheme"></container>
        </lightbox>

        <input type="text" placeholder="saisie libellé"  />

        <section>
            <label class="select" >
                <select></select>
            </label>

        </section>

        <button class="right-magnet" ng-click="">
            <i18n>evaluations.add</i18n>
        </button>

    </div>


</div>