<div class="evaluations-sniplet paramServices">
    <div id="structure-loader" class="overlay" ng-show="displayMessageLoader">
        <div>
            <h4 class="content-loader">Chargement en cours...</h4>
        </div>
    </div>

    <div class="twelve twelve-mobile">

        <h3>
            <i18n>evaluation.service.title</i18n>
        </h3>

        <div class="twelve cell filterButton twelve-mobile">
            <input type="text" ng-model="search" placeholder="" class="nine">
            <button class="right-magnet two" ng-click="openCreateLightbox()">
                <i18n>evaluation.service.lightboxes.create</i18n>
            </button>
        </div>

        <div class="twelve tabs vertical-spacing-twice heading-tabs">
            <header class="horizontal-spacing-twice"
                    ng-repeat="header in headers"
                    ng-class="{selected: header.isSelected}"
                    ng-click="updateFilterEvaluable(header)">
                <div  class="horizontal-spacing">
                    <span>[[translate(header.name)]]</span>
                </div>
            </header>
        </div>

        <div class="row">
            <div class="two cell">
                <ul class="selectable-list">
                    <li ng-repeat="type in typeGroupes"
                        ng-class="{selected : type.isSelected}"
                        ng-click="type.isSelected = !type.isSelected">
                        <span>[[translate(type.name)]]</span>
                    </li>
                </ul>
            </div>
            <div class="ten cell">
                <div class="row" sticky offset="64">
                    <h4 class="[[columns.delete.size]] cell"></h4>

                    <h4 ng-click="sortOrderBy = 'nom_matiere'"
                        class="[[columns.matiere.size]] cell-indent cell">[[translate(columns.matiere.name)]]</h4>
                    <h4  ng-click="sortOrderBy = 'nom_groupe'"
                         class="[[columns.classe.size]] cell-indent cell">[[translate(columns.classe.name)]]</h4>
                    <h4 ng-click="sortOrderBy = 'nom_enseignant'"
                        class="[[columns.enseignant.size]] cell-indent cell">[[translate(columns.enseignant.name)]]</h4>
                    <h4 class="[[columns.coefficient.size]] cell-indent cell">[[translate(columns.coefficient.name)]]</h4>
                    <h4 class="[[columns.modalite.size]] cell-indent cell">[[translate(columns.modalite.name)]]</h4>
                    <h4 class="[[columns.evaluable.size]] cell-indent cell">[[translate(columns.evaluable.name)]]</h4>
                    <h4 class="[[columns.delete.size]] cell">[[translate(columns.delete.name)]]</h4>

                </div>


                <div ng-repeat="service in (filteredItems = ( services | filter:filterEvaluable(headers) |
                 filter:filterGroupe(columns.classe.data, typeGroupes) | filter:filterSearch(search) |
                  orderBy : sortOrderBy)) track by $index "
                     class="row serviceList">
                    <label class="one checkbox">
                        <input type="checkbox"
                               ng-model="service.selected"
                        />
                        <span></span>
                    </label>

                    <span class="[[columns.matiere.size]] ellipsis" tooltip="[[service.nom_matiere]]">[[service.nom_matiere]]</span>
                    <span class="[[columns.classe.size]] ellipsis">[[service.nom_groupe]]</span>
                    <span class="[[columns.enseignant.size]] ellipsis">[[service.nom_enseignant]]</span>
                    <span class="[[columns.coefficient.size]] ellipsis">
                        <input  type="number" class="eleven small-input-number three-mobile"
                                ng-blur="service.updateServiceCoefficient()"
                                ng-model="service.coefficient" min="0"></span>
                    <label class="select one">
                        <select ng-model="service.modalite" style="min-width: 0px !important"
                                ng-options="modalite for modalite in columns.modalite.data"
                                ng-change="service.updateServiceModalite()"></select>
                    </label>
                    <label class="one checkbox">
                        <input type="checkbox"
                               ng-change="switchEvaluableService(service)"
                               ng-model="service.evaluable"/>
                        <span></span>
                    </label>
                    <label class="one checkbox">
                        <i class="delete"
                           ng-if="service.isManual"
                           ng-click="deleteService(service)"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>


    <lightbox show="lightboxes.create" on-close="lightboxes.create = false">
        <h3>
            <i18n>evaluation.service.lightboxes.create</i18n>
        </h3>

        <div class="lightboxCreate">
            <div class="row">
                <h4>
                    <i18n>evaluation.service.columns.matiere</i18n>
                </h4>
                <label class="select">
                    <select ng-model="service.id_matiere"
                            ng-options="matiere.id as (matiere.name + ' (' + matiere.externalId + ')') for matiere in columns.matiere.data | orderBy:'name'">
                    </select>
                </label>
            </div>

            <div class="row">
                <h4>
                    <i18n>evaluation.service.columns.classGroup</i18n>
                </h4>

                <label class="select">
                    <select ng-model="service.id_groupe"
                            ng-options="classe.id as classe.name for classe in columns.classe.data | orderBy:'name'"></select>
                </label>
            </div>
            <div class="row">
                <h4>
                    <i18n>evaluation.service.columns.teacher</i18n>
                </h4>

                <label class="select">
                    <select ng-model="service.id_enseignant"
                            ng-options="enseignant.id as enseignant.displayName for enseignant in columns.enseignant.data | orderBy: 'displayName'"></select>
                </label>
            </div>
            <div class="row">
                <h4>
                    <i18n>evaluation.service.columns.modalite</i18n>
                </h4>


                <label class="select">
                    <select ng-model="::service.modalite"
                            ng-options="modalite for modalite in columns.modalite.data | orderBy:modalite.libelle"></select>
                </label>
            </div>
            <div class="row">
                <h4>
                    <i18n>viescolaire.utils.coefficient</i18n>
                </h4>
                <div class="one cell  eight-mobile">
                    <input  type="number" class="eleven small-input-number three-mobile" ng-model="service.coefficient" min="0">
                </div>
            </div>
            <div class="row">
                <h4>
                    <i18n>evaluation.service.columns.evaluable</i18n>
                </h4>

                <label class="checkbox">
                    <input type="checkbox"
                           ng-model="::service.evaluable"/>
                    <span></span>
                </label>
            </div>
        </div>

        <button class="marginFive magnet-right"
                ng-class="{disabled: checkExist(service)}"
                ng-click="createService(service)">
            <i18n>viescolaire.utils.save</i18n>
        </button>
        <button ng-click="lightboxes.create = false" class="right-magnet cancel">
            <i18n>viescolaire.utils.cancel</i18n>
        </button>
    </lightbox>

    <lightbox show="lightboxes.switchEval" on-close="lightboxes.switchEval = false">
        <h3>
            <i18n>evaluation.service.lightboxes.switchEval</i18n>
        </h3>

        <div class="lightboxUpdate">

            <h4 style="line-height: 20px">[[error]]</h4>

            <div class="row">
                <p>
                    <i18n>evaluations.service.devoir.delete</i18n>
                </p>
                <input type="radio" ng-model="updateOrDelete" value="delete">
            </div>

            <div class="row">
                <p>
                    <i18n>evaluations.service.devoir.update</i18n>
                </p>
                <input type="radio" ng-model="updateOrDelete" value="update">
            </div>

            <div class="row" ng-if="updateOrDelete == 'update'">
                <p style="padding-left: 20px">
                    <i18n>evaluation.service.columns.matiere</i18n>
                </p>
                <label class="select">
                    <select ng-model="matiereSelected"
                            ng-change="setMatiere(matiereSelected)"
                            ng-options="matiere.id as matiere.name for matiere in columns.matiere.data">
                    </select>
                </label>
            </div>
        </div>

        <button class="marginFive magnet-right"
                ng-click="doUpdateOrDelete(updateOrDelete, devoirs, service)">
            <i18n>viescolaire.utils.save</i18n>
        </button>
        <button ng-click="lightboxes.switchEval = false; service.evaluable = !service.evaluable;" class="right-magnet cancel">
            <i18n>viescolaire.utils.cancel</i18n>
        </button>
    </lightbox>

    <lightbox show="lightboxes.subEducationCreate" on-close="lightboxes.subEducationCreate = false">
        <h3>
            <i18n>evaluation.service.lightboxes.subEducation.create</i18n>
        </h3>

        <div class="lightboxCreate">
            <h4>
                <i18n>evaluation.service.lightboxes.subEducation.select</i18n>
            </h4>
            <article class="card fullBorder">
                <div class="row">
                    <div class="six cell">
                        <ul>
                            <li ng-repeat="matiere in subTopics.all track by matiere.id">
                                <div ng-show="!matiere.updating">
                                    <label class="one checkbox">
                                    <input type="checkbox"
                                           ng-model="matiere.selected"
                                    />
                                    <span></span>
                                </label>
                                    <span>[[matiere.libelle]]</span> <i ng-click="openUpdateForm(matiere)" class="edit"></i>
                                </div>
                                <div ng-show="matiere.updating">
                                    <input type="text"  ng-keypress="updateMatiere($event,matiere)"  ng-model="matiere.libelle">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="!subTopicCreationForm"class="six cell buttonAbsolute">
                        <button ng-click="openCreationSubTopicCreationInput()" ><i18n>evaluation.service.lightboxes.subEducation.class.sub.create</i18n></button>
                    </div>

                    <div ng-show="subTopicCreationForm"class="six cell buttonAbsolute">

                        <input class="six cell buttonMargin"
                               i18n-placeholder="evaluation.service.lightboxes.subEducation.placeholder"
                               type="text"
                               ng-model="newSubTopic"
                               ng-change="updateSubTopic(newSubTopic)" >

                        <button class="five cell" ng-click="saveNewSubTopic();newSubTopic=''" ><i18n>Enregistrer</i18n></button>
                    </div>

                </div>
            </article>
            <h4>
                <i18n>evaluation.service.lightboxes.subEducation.choice</i18n>

            </h4>
            <article class="card fullBorder">
                <div class="row">
                    <div class="five cell">
                        <ul>
                            <li ng-repeat="matiere in matieres track by matiere.id">
                                <label class="one checkbox">
                                    <input type="checkbox"
                                           ng-model="matiere.selected"
                                    />
                                    <span></span>
                                </label>
                                <span>[[matiere.name]]</span>
                            </li>
                        </ul>
                    </div>
                    <div class="one cell">

                    </div>
                    <div class="six cell">

                        <h4>
                            <i18n>evaluation.service.lightboxes.subEducation.add.matiere</i18n>
                        </h4>
                        <select ng-model="matiereToAdd"
                                ng-options="matiere.name for matiere in matieresForSelect"
                                ng-change="addMatiereToCreateSubTopic(matiereToAdd)"
                        >
                        </select>
                    </div>

                </div>
            </article>
        </div>
        <div class="row">
            <button ng-click="saveNewSubTopics()" class="marginFive right-magnet">
                <i18n>viescolaire.utils.save</i18n>
            </button>
        </div>

    </lightbox>
    <section class="toggle-buttons" ng-class="{ hide: !oneDisicplineSelected() }">
        <div class="toggle">
            <div class="row">
                <button ng-click="openSubEducationLightBoxCreation(getSelectedDisciplines())" >
                    <i18n>viescolaire.create.subEnseignement</i18n>
                </button>
            </div>
        </div>
    </section>
</div>