<div class="inline-block">
    <div>
        <p><i18n>competence.struture.option.default.sentence</i18n></p>
        <div>
            <span class="cell"><i18n>competence.struture.option.is.average.skills</i18n></span>
            <label class="switch">
                <input type="checkbox" ng-model="vm.option.isSkillAverage" ng-change ="vm.saveOptionIsAverageSkills()" ng-disabled="ngDisabled"/>
                <span class="tick cell"></span>
            </label>

        </div>
    </div>
</div>