<div class="inline-block" workflow="competences.setVisibilityAverageBfc">
    <div>
        <label>
            <input type="radio" ng-change="save(0)" ng-model="visible" value="0">
            <span>
                <i18n>evaluation.bfc.set.visiblity.nobody</i18n>
            </span>
        </label>
    </div>

    <div>
        <label>
            <input type="radio" ng-change="save(1)" ng-model="visible" value="1">
            <span>
                <i18n>evaluation.bfc.set.visiblity.authorized</i18n>
            </span>
        </label>
    </div>

    <div>
        <label>
            <input type="radio" ng-change="save(2)" ng-model="visible" value="2">
            <span>
                <i18n>evaluation.bfc.set.visiblity.all</i18n>
            </span>
        </label>
    </div>

</div>
