<div class="evaluations-sniplet paramServices vsco--global">
    <div class="twelve twelve-mobile">

        <h3>
            <i18n>evaluation.service.title</i18n>
        </h3>

        <div class="row cell twelve-mobile">
            <div class="row cell twelve-mobile">
                <input type="text"
                       i18n-placeholder="viescolaire.utils.search" class="nine cell"
                       ng-keyup="saveSearch($event)">
                <div class=" row horizontal-spacing">
                    <div class="select-blocks">
                        <div ng-repeat="search in searchToFilter track by $index"
                             ng-click="dropSearchFilter(search)"
                             class="labels-in-line">
                            [[search]]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="twelve cell">
                <button ng-repeat="type in typeGroupes"
                        ng-class="{selected : type.isSelected}"
                        ng-click="updateFilter(type)"
                        class="filterButton">
                    <span>[[translate(type.name)]]</span>
                </button>
                <button   ng-repeat="header in headers"
                          ng-class="{selected: header.isSelected}"
                          ng-click="updateFilter(header)"
                          class="filterButton">
                    <span>[[translate(header.name)]]</span>
                </button>
            </div>

            <div class="twelve cell">
                <div class="row tab-header"  offset="64">
                    <span class="[[columns.matiere.size]] cell-indent cell service-tab-header-center">
                       <h4 ng-click="changeSort('topicName')">[[lang.translate(columns.matiere.name)]]
                           <span ng-show="sortBy === 'topicName'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                       </h4>
                    </span>
                    <span class="[[columns.classe.size]] cell-indent cell service-tab-header-left">
                        <h4 ng-click="changeSort('nom_groupe')">[[lang.translate(columns.classe.name)]]
                            <span ng-show="sortBy === 'nom_groupe'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                        </h4>
                    </span>
                    <span class="[[columns.enseignant.size]] cell-indent cell service-tab-header-center">
                        <h4 ng-click="changeSort('nom_enseignant')">[[lang.translate(columns.enseignant.name)]]
                            <span ng-show="sortBy === 'nom_enseignant'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                        </h4>
                    </span>
                    <span class="[[columns.remplacement.size]] cell-indent cell service-tab-header-center">
                        <h4 ng-click="changeSort('remplacement')">[[lang.translate(columns.remplacement.name)]]
                            <span ng-show="sortBy === 'remplacement'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                        </h4>
                    </span>
                    <span class="[[columns.coefficient.size]] cell-indent cell service-tab-header-center">
                        <h4 class="fit-font-size" ng-click="changeSort('coefficient')">[[lang.translate(columns.coefficient.name)]]
                            <span ng-show="sortBy === 'coefficient'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                        </h4>
                    </span>
                    <span class="[[columns.modalite.size]] cell-indent cell service-tab-header-center">
                        <h4 class="fit-font-size" ng-click="changeSort('modalite')">[[lang.translate(columns.modalite.name)]]
                            <span ng-show="sortBy === 'modalite'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                        </h4>
                    </span>
                    <span class="[[columns.evaluable.size]] cell-indent cell service-tab-header-center">
                        <h4 class="fit-font-size" ng-click="changeSort('evaluable')">[[lang.translate(columns.evaluable.name)]]
                            <span ng-show="sortBy === 'evaluable'" ng-class="{'filter-up' : !sortByAsc,'filter-down' :sortByAsc}"></span>
                        </h4>
                    </span>
                </div>
                <div class="loaderArray loaderCenter" ng-show="showServicesLoader"></div>

                <div ng-show="!showServicesLoader" class="service-list-container"
                     ng-repeat="service in (filteredItems = ( services | orderBy:sortBy:!sortByAsc  | filter:filterSearch())) track by $index ">
                    <div class="row serviceList" ng-click="deploySubtopics(service)" ng-class="{'active':service.deploy}">
                        <div class="[[columns.matiere.size]] cellTab ellipsis cellTab-left" tooltip="[[service.nom_matiere]]"><span>[[service.topicName]]</span></div>
                        <div class="[[columns.classe.size]]  cellTab ellipsis cellTab-left" tooltip="[[service.groups_name]]">
                            [[service.groups_name ? service.groups_name : service.nom_groupe]]
                        </div>

                        <div class="[[columns.enseignant.size]] cellTab ellipsis cellTab-center">
                            <span ng-show="service.coTeachers.length > 0 || service.substituteTeachers.length > 0">
                                <span ng-click="switchServiceVisibility(service)"
                                      ng-class="{'disabled-eye' : canSwitchServiceVisibility(service)}">
                                    <i ng-class="{'eye-open-orange': service.is_visible, 'eye-slash': !service.is_visible}"></i>
                                </span>
                            </span>

                            [[service.nom_enseignant]]
                            <div class='padding-top' ng-if="service.coTeachers.length > 0"
                                 ng-repeat="coTeacher in service.coTeachers">
                                <span ng-click="switchMultiTeacherVisibility(service, coTeacher)"
                                      ng-class="{'disabled-eye' : canSwitchMultiTeacherVisibility(service, coTeacher)}">
                                    <i ng-class="{'eye-open-orange': coTeacher.is_visible, 'eye-slash': !coTeacher.is_visible}"></i>
                                </span>

                                [[coTeacher.displayName]]
                            </div>
                        </div>
                        <div class="[[columns.remplacement.size]] cellTab ellipsis cellTab-center">
                            <div ng-if="service.substituteTeachers.length > 0"
                                 ng-repeat="substituteTeacher in service.substituteTeachers">
                                <div ng-if="filterValidDateSubstituteTeacher(substituteTeacher)">
                                    <span ng-click="switchMultiTeacherVisibility(service, substituteTeacher)"
                                          ng-class="{'disabled-eye' : canSwitchMultiTeacherVisibility(service, substituteTeacher)}">
                                    <i ng-class="{'eye-open-orange': substituteTeacher.is_visible, 'eye-slash': !substituteTeacher.is_visible}"></i>
                                    </span>
                                        <span tooltip="[[getI18n('evaluation.service.columns.remplacement')]]
                                        [[getI18n('viescolaire.utils.from.date')]]
                                        [[substituteTeacher.start_date | date:'dd/MM/yyyy']]
                                        [[getI18n('viescolaire.utils.to.date')]]
                                        [[substituteTeacher.end_date | date:'dd/MM/yyyy']]<br>
                                        [[getI18n('viescolaire.utils.datefinsaisie')]]
                                        [[substituteTeacher.entered_end_date | date:'dd/MM/yyyy']]">
                                            [[substituteTeacher.displayName]]
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="[[columns.coefficient.size]] ellipsis  cellTab cellTab-center">
                            <input  type="number" class="eleven cellTab three-mobile cellTab-center"
                                    ng-blur="service.updateServices(false,true)"
                                    placeholder="[[service.coefficientPlaceHolder]]"
                                    ng-click="$event.stopPropagation()"
                                    ng-model="service.coefficient" min="0"></div>

                        <div class="cellTab cellTab-left  select [[columns.modalite.size]] ">
                            <select ng-model="service.modalite"
                                    ng-click="$event.stopPropagation()"
                                    ng-change="service.updateServices(true,false)">
                                <option   ng-repeat="modalite in columns.modalite.data"
                                          ng-disabled="modalite ===  lang.translate('multiples')" >[[modalite]]</option>
                            </select>
                        </div>
                        <div class="cellTab one cellTab-center">
                            <div class="six inline-block">
                                <div class=" svg-image">

                                    <input ng-show="service.hasAllServicesEvaluable()" type="image" src="/competences/public/img/scss/checkbox-marked.svg"
                                           ng-click="switchEvaluableService(service);$event.stopPropagation()"alt="switchEvaluableService">
                                    <input ng-show="service.hasAllServicesNotEvaluable()" type="image" src="/competences/public/img/scss/checkbox-blank-outline.svg"
                                           ng-click="switchEvaluableService(service);$event.stopPropagation()"alt="switchEvaluableService">
                                    <input ng-show="service.hasVariousEvaluable()" type="image" src="/competences/public/img/scss/minus-box.svg"
                                           ng-click="switchEvaluableService(service,true);$event.stopPropagation()"alt="switchEvaluableService">
                                </div>
                            </div>
                            <div class="five inline-block">
                                <div class=" svg-image">
                                    <input type="image"  src="/competences/public/img/scss/cog.svg"
                                           ng-click="openUpdateLightbox(service);$event.stopPropagation()"alt="i18nAfaire">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SUBTOPICS -->
                    <div class="twelve row serviceList subList" ng-repeat="subTopic in service.subTopics" ng-show="service.deploy" >
                        <div class="[[columns.matiere.size]] cellTab ellipsis cellTab-left" tooltip="[[subTopic.libelle]"><span class="tabulation">[[subTopic.libelle]]</span></div>
                        <div class="[[columns.classe.size]]  cellTab ellipsis cellTab-left" tooltip="[[service.groups_name]]"><span>[[service.groups_name]]</span></div>
                        <span>[[subtopic.coefficient]]</span>
                    </div>


                </div>
            </div>
        </div>


        <lightbox show="lightboxes.update" on-close="lightboxes.update = false">
            <h3>
                <i18n>evaluation.service.lightboxes.update</i18n>
            </h3>

            <div class="lightboxCreate">
                <div class="row">
                    <span class="six">
                       <b><i18n>evaluation.service.columns.matiere</i18n></b>
                    </span>
                    <span class="six right-magnet">
                        <b ng-bind="serviceToUpdate.topicName"></b>
                    </span>
                </div>
                <br/>
                <div class="row tab-header">
                    <span class="three cellTab ellipsis cell">
                        <h4>[[lang.translate(columns.classe.name)]]</h4>
                    </span>
                    <span class="three cellTab ellipsis cell">
                        <h4>[[lang.translate(columns.coefficient.name)]]</h4>
                    </span>
                    <span class="three cellTab ellipsis cell">
                        <h4>[[lang.translate(columns.modalite.name)]]</h4>
                    </span>
                    <span class="two cellTab ellipsis cell">
                        <h4>[[lang.translate(columns.evaluable.name)]]</h4>
                    </span>
                </div>
                <div class="service-list-container"
                     ng-repeat="param in serviceToUpdate.competencesParams | orderBy:'nom_groupe'">
                    <div class="row serviceList">
                        <div class="three  cellTab ellipsis cellTab-left" tooltip=" [[param.nom_groupe]]">
                            [[param.nom_groupe]]
                        </div>
                        <div class="two ellipsis  cellTab cellTab-left">
                            <input  type="number" class="eleven small-input-number cellTab three-mobile cellTab-center"
                                    ng-model="param.coefficient" min="0">
                        </div>
                        <div class="three cellTab cellTab-left  select  ">
                            <select ng-model="param.modalite"
                                    ng-options="modalite for modalite in columns.modalite.data">
                            </select>
                        </div>
                        <div class="two cellTab cellTab-center">
                            <div class="six inline-block">
                                <div class=" svg-image">
                                    <input ng-show="param.evaluable" type="image" src="/competences/public/img/scss/checkbox-marked.svg"
                                           ng-click="param.evaluable = ! param.evaluable"  alt="plop">
                                    <input ng-show="!param.evaluable" type="image" src="/competences/public/img/scss/checkbox-blank-outline.svg"
                                           ng-click="param.evaluable = ! param.evaluable" alt="plop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="marginFive right-magnet"
                        ng-click="updateServices()">
                    <i18n>viescolaire.utils.save</i18n>
                </button>
                <button ng-click="lightboxes.update = false" class="marginFive right-magnet cancel">
                    <i18n>viescolaire.utils.cancel</i18n>
                </button>
            </div>

        </lightbox>

        <lightbox show="lightboxes.switchEval" on-close="lightboxes.switchEval = false">
            <h3>
                <i18n>evaluation.service.lightboxes.switchEval</i18n>
            </h3>

            <div class="lightboxUpdate">

                <h4 style="line-height: 20px">[[error]]</h4>

                <div class="row">
                    <p>
                        <i18n>evaluations.service.devoir.delete</i18n>
                    </p>
                    <input type="radio" ng-model="updateOrDelete" value="delete">
                </div>

                <div class="row">
                    <p>
                        <i18n>evaluations.service.devoir.update</i18n>
                    </p>
                    <input type="radio" ng-model="updateOrDelete" value="update">
                </div>

                <div class="row" ng-if="updateOrDelete == 'update'">
                    <p style="padding-left: 20px">
                        <i18n>evaluation.service.columns.matiere</i18n>
                    </p>
                    <label class="select">
                        <select ng-model="matiereSelected"
                                ng-change="setMatiere(matiereSelected)"
                                ng-options="matiere.id as matiere.name for matiere in columns.matiere.data">
                        </select>
                    </label>
                </div>
            </div>

            <button class="marginFive magnet-right"
                    ng-click="doUpdateOrDelete(updateOrDelete, devoirs, service)">
                <i18n>viescolaire.utils.save</i18n>
            </button>
            <button ng-click="lightboxes.switchEval = false; service.evaluable = !service.evaluable;" class="right-magnet cancel">
                <i18n>viescolaire.utils.cancel</i18n>
            </button>
        </lightbox>
    </div>
</div>